.checkbox{
    margin-top: 0;
    max-height: 100px;
    overflow-y: auto;
}
.checkbox label{
    margin:2px 8px 8px 8px;

}
.btn-blue{
    background-color: #0099ff;
    color: white;
}
.btn-blue:hover{
    background-color: #007ed6;
    color: white;
}
.btn-blue:active{
    background-color: #005fa6;
    color: white;
}
.btn-blue:focus{
    color: white;
}