.popover-content {
    padding-bottom: 0px;
}
.right_menu{
    width:372px;
    height: 34px;
    display: block;
    background-color: white;
    border: 1px solid #cecece;
    box-sizing: border-box;
    border-radius: 4px;
    margin-bottom: 6px;
}
.right_menu div{
    float: left;
    width: 120px;
    height: 100%;
    text-align: center;
    line-height: 34px;
    cursor:pointer;
}
.left_menu{
    width: 250px;
}
.right_content{
    width: 372px;
    height:auto;
    overflow-x: hidden;
    max-height: 500px;
    border-radius:4px;
    background-color: white;
    border: 1px solid #cecece;
    box-sizing: border-box;
    padding: 10px;
}
.panel_table_area{
    max-height: 400px;
    overflow-y:auto;
}

label{
    font-size: 14px;!important;
    color: #484848;!important;
}
#track{
    display: none;
}

#equip{
    display: none;
}

#card_select{
    float: left;
    border-radius:4px;
    width: 180px;
    height: auto;
    display: none;
    background-color: white;
    border: 1px solid #cecece;
    box-sizing: border-box;
    padding: 5px;
    margin-top: 6px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}
#card_select p{
    float: left;
    display: inline-block;
    margin: 0;
}
#card_list{
    float: left;
    border-radius:4px;
    width: 245px;
    min-height: 34px;
    padding: 5px;
    margin-top: 6px;
    margin-right: 6px;
}
#card_list div{
    display: inline-block;
    color: #666666;
    float: left;
    padding: 3px 7px 3px 7px;
}
#track_list{
    width: 340px;
    height: auto;
    display: inline-block;
}
#track_list div{
    display: inline-block;
    float: left;
    padding: 3px 7px 3px 7px;
    color: #666666;
}
#track_list p{
    float: left;
}

#area_draw_type{
    width: 280px;
    float: none;
}
a:hover{
    cursor: pointer;
    text-decoration: none;
}
#measure_location:hover{
     cursor: pointer;
 }
#back_origin:hover{
    cursor: pointer;
}
#clear_measure_location:hover{
    cursor: pointer;
}

.input_change{
    outline: none;
    border: 1px solid #f00;
    -webkit-animation: input_shake 250ms ease-out infinite alternate;
    -moz-animation: input_shake 250ms ease-out infinite alternate;
    -o-animation: input_shake 250ms ease-out infinite alternate;
    /*这里使用了呼吸动画*/
    animation: input_shake 250ms ease-out infinite alternate;
}
@keyframes input_shake {
    0%{
        transform: translateX(0)rotate(0);

    }
    25%{
        transform: translateX(0)rotate(-2deg);

    }
    50%{
        transform: translateX(0)rotate(2deg);

    }
    75%{
        transform: translateX(0)rotate(-2deg);

    }
    100%{
        transform: translateX(0)rotate(0);

    }
}
@-moz-keyframes input_shake {
    0%{
        -moz-transform: translateX(0)rotate(0);

    }
    25%{
        -moz-transform: translateX(0)rotate(-2deg);

    }
    50%{
        -moz-transform: translateX(0)rotate(2deg);

    }
    75%{
        -moz-transform: translateX(0)rotate(-2deg);

    }
    100%{
        -moz-transform: translateX(0)rotate(0);

    }
}
@-o-keyframes input_shake {
    0%{
        -o-transform: translateX(0)rotate(0);

    }
    25%{
        -o-transform: translateX(0)rotate(-2deg);

    }
    50%{
        -o-transform: translateX(0)rotate(2deg);

    }
    75%{
        -o-transform: translateX(0)rotate(-2deg);

    }
    100%{
        transform: translateX(0)rotate(0);

    }
}
@-webkit-keyframes input_shake {
    0%{
        -webkit-transform: translateX(0)rotate(0);

    }
    25%{
        -webkit-transform: translateX(0)rotate(-2deg);

    }
    50%{
        -webkit-transform: translateX(0)rotate(2deg);

    }
    75%{
        -webkit-transform: translateX(0)rotate(-2deg);

    }
    100%{
        -webkit-transform: translateX(0)rotate(0);

    }
}
#tbody_card_info b {
    color: #cccccc;
    cursor: pointer;
}
#tbody_card_info b.active{
    color: #ff7a00;
}

#right_top_menu{
    position: absolute;
    top:10px;
    right: 10px;
}

#evacuate_text{
    width: 40%;
    display: inline-block;
    text-align: right;
}
.evacuate_span_active{
    background-color:#337ab7;
    color: #fff;
    padding: 1px 8px 1px 8px;
    border-radius: 4px;
    cursor: pointer;
}
#evacuate{
    display: none;
    width: 372px;
    height:auto;
    overflow-x: hidden;
    max-height: 340px;
    background-color: white;
    border: 1px solid #cecece;
    box-sizing: border-box;
    padding: 10px;
}
#evacuate_list,#custom_evacuate_list{
    width: 340px;
    height: auto;
    display: inline-block;
}
#evacuate_list div,#custom_evacuate_list div{
    display: inline-block;
    float: left;
    padding: 3px 7px 3px 7px;
    color: #666666;
}
#evacuate_list p,#custom_evacuate_list p{
    float: left;
}
